body {
  background-color: grey;
  border-style: solid;
  text-align: center 
}

img {
  float:left;
  height:150px;
  width:120px;
}

div.header {
  background-color: black;
    float:left;
   width: 100%;
       color: white;
  font-family: 'Roboto', sans-serif;
  font-size:12px;
     }

div.section {
  background-color: blue;
    float:left;
   width: 100%;
    font-family: 'Roboto', sans-serif;
     }

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
  color: white;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.6em;
}

p {
  font-size: 1.6em;
}

#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 900px;
}
button {
  
  background: black;
  color: white;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.8em;
  padding: 10px 10px;
  width: 180px;
  margin: 5px;
  outline: none;
}
button:hover {
 
  background: #fff;
  border: solid 1px #fff;
  color: blue;
}

#currentWord {
  background-color: black;
    float:left;
   width: 100%;
   margin-top:30px;
   padding:10px;
       color: white;
  font-family: 'Roboto', sans-serif;
  font-size:30px;
     }
#wrongLetters {
  background-color: blue;
  float:left;
  width: 100%;
  color: white;
  margin-top:10px;
  font-family: 'Roboto', sans-serif;
  font-size:1.6em;
  height:50px;
   }

#mylives {
  font-size: 1.6em;
  color:white;
  text-align: center;
  display: block;
}



@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}
